<script type="text/javascript">
$('.date_picker').datepicker();
</script>


<% if admin? %>
<%= render :partial => "shared/init_yui_editor" %>
<%= render :partial => "shared/call_yui_editor" %>
<% end -%>

<p><label class="desc"> Roles
	<span class="req">*</span>
	<span class="note">select all roles that apply</span>
</label>	

<%- if admin? -%>
<% for role in Role.all() %>
	<%# check_box_tag "name", "value of chkbox", :boolean %>
	<% if @person.new_record? %> 
		<% @roles << @member_role %>
	<% end -%>
	<%= check_box_tag "person[role_ids][]",  role.id, @roles.include?(role)%>
	<%= role.title.capitalize.humanize %>
<% end -%>
</p>
<% end -%>
<p>
  <label class="desc" for="first_name"> First name
  	<span class="req">*</span>
  </label>
  <%= f.text_field :first_name %>
</p>
<p>
  <label class="desc" for="middle_name"> Middle name
  </label>
  <%= f.text_field :middle_name %>
</p>
<p>
  <label class="desc" for="last_name"> Last name
  	<span class="req">*</span>
  </label>
  <%= f.text_field :last_name %>
</p>
<p>
<label class="desc" for="dob"> Birthday:</label>
<p>
<%= f.select(:birthday_visibility, @bday_options) %>
</p>
<br/> <%= f.date_select :dob,  :order => [:month, :day, :year ], :start_year => 1920,  :prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' } %>
</p>



<p><label class="desc" for="email"> email</label>
  <%= f.text_field :email %>
</p>
<p><label class="desc" for="photo"> Photo:
</label></p>
<p><%= f.file_field :photo %></p>

<p><label class="desc" for="notes"> notes:
</label></p>
<p class="yui-skin-sam">
<%= f.text_area :notes, :id => "page_editor" %>
</p>