<script type="text/javascript">
$('.date_picker').datepicker();
</script>

<p><label class="desc"> Roles
	<span class="req">*</span>
	<span class="note">select all roles that apply</span>
</label>	

<% for role in Role.all() %>
	<%# check_box_tag "name", "value of chkbox", :boolean %>
	<%= check_box_tag "person[role_ids][]",  role.id, @roles.include?(role)%>
	<%= role.title.capitalize.humanize %>
<% end -%>
</p>

<p>
  <label class="desc" for="first_name"> First name
  	<span class="req">*</span>
  </label>
  <%= f.text_field :first_name %>
</p>
<p>
  <label class="desc" for="middle_name"> Middle name
  </label>
  <%= f.text_field :middle_name %>
</p>
<p>
  <label class="desc" for="last_name"> Last name
  	<span class="req">*</span>
  </label>
  <%= f.text_field :last_name %>
</p>
<p>
<label class="desc" for="dob"> Birthday:</label>
<br/> <%= f.text_field :dob, :class => "date_picker" %>
</p>

<p><label class="desc" for="email"> email</label>
  <%= f.text_field :email %>
</p>
<p><label class="desc" for="photo"> Photo:
</label></p>
<p><%= f.file_field :photo %></p>

<p><label class="desc" for="notes"> notes:
</label></p>
<p><%= f.text_area :notes %></p>