<div class="body">
<h3><%=h @person.full_name.capitalize %>
<% if @person.roles.empty? %>
	<div class="warning">
		<%= @person.full_name %> does not have any roles and would not appear in the people list
	</div>
<%- else -%>
(<% @person.roles.each do |r| %>
	<%= r.title.capitalize.humanize %>
	<%= @person.roles.last == r ? ')' : ',' %>
	<% end -%>
<% end -%>
</h3>	

<div id="profile_picture">
	<% unless @person.photo_file_size.nil? %>
		<div id="delete_profile_pic">						
		<%= image_tag( "icons/large_error.png",  :size => "24x24", 
														"data-person"  => @person.id,
														:title => "delete picutre",
														:class => "delete_icon" ) %>
		</div>
	<% end %>
	<div id="person_photo"><%= image_tag @person.photo.url(:small) %></div>
</div>

<p><%= link_to "Show on Staff public page", staff_path %></p>
<div id="personal_info">

<p>
<% unless @birthday.blank? %>
	<strong>Birthday:</strong><%=h set_birthday_visibility(@person) %></p>
<% end -%>
<div id="address_info">
<p><strong>Address: </strong> 
			<%- if @person.address -%>
						<p><%= @person.address.street %>, Apt <%= @person.address.apt %>
						<%= link_to "Update", edit_person_address_path(@person) if @person.address %></p>
			<%- else -%>
				<p><%= link_to "Add an Address", new_person_address_path(@person) %></p>
			<%- end -%>
</p>
</div>
	
<div id="phone_numbers">
<p><strong>Phone Numbers:</strong>
	<%- if !@person.phone_numbers.empty? -%>
				<% @person.phone_numbers.each do |record| %>
							<p><strong><%=h record.location + ": "%></strong> <%= number_to_phone(record.phone_number, :area_code => true) %>
						 	<%= link_to "Update", edit_phone_number_path(record) if @person.phone_numbers %>
							</p>
						<%- end -%>
	<%- end -%>
		<br/><%= link_to "add a number", new_person_phone_number_path(@person) %>
		</p>
</div>
	
<div id="personal_info_part2">
<p><strong>Email:</strong><%=mail_to(@person.email) %></p>
<strong><%= @person.roles.include?(@instructor_role) ? "Bio:" : "Notes:" %></strong><br />
<p id="bio_notes">
		<%= @person.notes %>
</p>
</div>

</div>