<div class="body">
	<% if @role %>
	<h2><%=h  @role.title.capitalize.humanize.pluralize %> </h2>
	<%- else -%>
	<h2> People </h2>
	<%- end -%>
<% unless @people.empty? %>
<table>
	<tr>
	    <th>First</th>
	    <th>Middle</th>
	    <th>Last</th>
	    <th>Date of birth</th>
	    <th>Email</th>
			<th>Roles</th>
			<th class="packages"></th>
		<th class="show"></th>
		<th class="edit"></th>
		<th class="delete"></th>
	</tr>
		
  <%- @people.each do |person|%>
  <tr class=<%= cycle('odd', 'even')%> >
      <td><%=h person.first_name %></td>
      <td><%=h person.middle_name %></td>
      <td><%=h person.last_name %></td>
      <td align="center"><%=h person.dob.strftime("%b %d %Y") unless person.dob.nil? %></td>
      <td align="left">
					<%= mail_to(person.email) %>
			</td>
			<td>	<% person.roles.each	do |role| %>
						<%= link_to "#{role.title.capitalize.humanize}", person_roles_path(person), :class => "normal_link"%>
						<% unless role == person.roles.last %>,<%- end -%>   
						<%- end -%> 
			</td>
     
	  <td align="center"><%= link_to "Packages", person_packages_path(person) %></td>
	  <td align="center"><%=link_to 'Show', object_url(person) %></td>
    <td align="center"><%=link_to 'Edit', edit_object_url(person) %></td>
    <td align="center"><%=link_to 'Destroy', object_url(person), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
<%- else -%>
  there's no one here
<%- end -%>
<br/>
<%= button_to 'New person', new_object_url %>
</div>