<%= javascript_include_tag "combobox", :cache => true %>
		
<div>
<%= f.hidden_field :calendar_id, :value  => "1" %>
 
 Class: <%= f.collection_select(:monqi_class_id, @classes, "id", "title", :prompt => 'Select a class') %>

 Level: <%= f.select(:level, { "Basic" => "Basics", "Open" => "Open"}, :prompt => 'Select a level') %>

 Instructor:	
		<%= f.collection_select(:instructor_id, @instructors, "id", "full_name", :prompt => 'Select an instructor') %>
</div>
<br/>
<div id="start_end_set">
	<span>
		First class occurs on:
		<%= text_field_tag("start_at", Date.today.strftime("%m/%d/%Y"), {:size => 8, :id => "start_date"}) %>
		
		<span id="time_pickers">
		  <%= text_field_tag("start_time", "8:00AM", {:size => 6, :class => "timepicker"}) %>
			to <%= text_field_tag("end_time", "8:30AM", {:size => 6, :class => "timepicker"}) %>
		</span>
		<%= hidden_field_tag("end_at",  Date.today.strftime("%m/%d/%Y"), {:id => "end_date"})  %>
		<span>
			All day <%= f.check_box :allday, :id => "allday" %>
		</span>
		</span>
</div>

<div id="repeat_select">
 	Repeats: <%= select(:event_template, :repeat, 
					   [['Does not repeat', 'Does not repeat'],
					   ['Every day', 'Daily'], ['Every week', 'Weekly'],[ 'Every month', 'Monthly'], ['Every year',  'Yearly'], 	
					   ['Custom...', 'Custom']], 		
					   {:selected => 'Does not repeat'}) %>
</div>
<div id="repeat_indicator" style="display: none;"></div>

<div id="interval_select" style="display: none;">
	<% @array = Array.new(30) {|i| 1+i} %>
	Repeat every: <%= f.select(:interval, options_for_select(@array, :selected => 1), {}) %> <span id="repeat_every_x"></span>
	<br/><br/>
	<div id="range" style="display:none;">
		Range: 
		<br/>
		<p>
		Starts: <%= text_field_tag(:start_clone, {}, {:disabled => "true", :size => 10}) %>
		
		<span id="end_repeat_block">
				Ends: 
					<%= radio_button_tag :end_repeat_radio, :on_date %> Until 
						<span id="on_date"></span>
				
					<p id="repeat_end_after">
						<%= radio_button_tag :end_repeat_radio, :after %> After
						<span id="after"></span>	
					</p>
		</span>

		</p>
	</div>
</div>



<div id="custom_repeat"  class="repeat" style="display: none;">
	Frequency: 
  	<%#= select_tag(:event_template, :freq, [ ['Daily', "daily"], ['Weekly', "weekly"], ['Monthly', "monthly"] ] %>
	
	
<%= render :partial => 'custom_weekly', :locals => { :f => f }  %>
</div>


<script type="text/javascript" charset="utf-8">
	$('#event_template_monqi_class_id').combobox();
	$('#event_template_instructor_id').combobox();
</script>