<div>
<%= f.hidden_field :calendar_id, :value  => "1" %>
 
 Class: <%= f.collection_select(:monqi_class_id, @classes, "id", "title", :prompt => 'Select a class') %>

 Level: <%= f.select(:level, { "Basic" => "Basics", "Open" => "Open"}, :prompt => 'Select a level') %>

 Instructor:	
		<%= f.collection_select(:instructor_id, @instructors, "id", "full_name", :prompt => 'Select an instructor') %>
</div>
<br/>
<div id="start_end_set">
	<span>
		First class occurs on:
		<%= text_field_tag("start_at", Date.today.strftime("%m/%d/%Y"), {:size => 8, :id => "start_date"}) %>
		
		<span id="time_pickers">
		  <%= text_field_tag("start_time", "8:00AM", {:size => 6, :class => "timepicker"}) %>
			to <%= text_field_tag("end_time", "8:30AM", {:size => 6, :class => "timepicker"}) %>
		</span>
		<%= hidden_field_tag("end_at",  Date.today.strftime("%m/%d/%Y"), {:id => "end_date"})  %>
		<span>
			All day <%= f.check_box :allday, :id => "allday" %>
		</span>
		</span>
</div>

<div id="repeat_select">
 	Repeats: <%= select(:event_template, :repeat, 
					   [['Does not repeat', 'Does not repeat'],
					   ['Every day', 'daily'], ['Every week', 'weekly'],[ 'Every month', 'monthly'], ['Every year',  'yearly'], 	
					   ['Custom...', 'custom']], 		
					   {:selected => 'Does not repeat'}) %>
</div>