<%= stylesheet_link_tag 'event_template', :cache => true %>
<%= javascript_include_tag "combobox", "date", :cache => true %>

<%= f.hidden_field :calendar_id, :value  => "1" %>
<%= hidden_field_tag("end_at", Date.today.strftime("%m/%d/%Y"))  %>

<h3> Class Scheduler</h4>

<div id="monqi_class_details">
	
	<div id="start_end_set">
		<span>
			First class begins:
			<%= text_field_tag("start_at", Date.today.strftime("%m/%d/%Y"), {:size => 8, :id => "start_date"}) %>
		</span>
		<span id="time_pickers">
			from <%= text_field_tag("start_time", "8:00AM", {:size => 6, :class => "timepicker"}) %>
			to <%= text_field_tag("end_time", "8:30AM", {:size => 6, :class => "timepicker"}) %>
		</span>
			All day <%= f.check_box :allday, :id => "allday" %>
	</div><br />

	<div id="level">
		Level: 
			 <label>
				<input type="radio" id="basics_level" name="level"  value="Basics" />Basics
			 </label>
			 <label>
				<input type="radio" id="open_level" name="level" value="Open level" />Open level
			 </label>
			<br />
			<br />
	</div>
	
	<div id="class">
			Class: <%= f.collection_select(:monqi_class_id, @classes, "id", "title") %>
	</div>
	
	<div class="schedule">
		<span class="scheduled_day"></span>
		<span class="scheduled_instructor">
			<% @options = options_from_collection_for_select(@instructors, 'id', 'last_initial') %>
			Instructor: <%= select_tag("scheduled_instructor[]", @options, :class => "instructor") %>
		</span>
	</div><!-- /schedule -->
	
	<br />
	<div id="sched_title">
		<span class="add_sched"><%= image_tag('icons/add.png', :class => "add_day") %> Schedule more instructors, same class different days </span>
	</div>

	<div id="added_day_instructor"></div>

	<div id="repeat_select" class="repeat_border">
	 	Repeats: <%= select(:event_template, :repeat, 
						   [['Does not repeat', 'none'],
						   ['Daily', 'Daily'], ['Weekly', 'Weekly'],[ 'Monthly', 'Monthly'], ['Yearly',  'Yearly']], 		
						   {:selected => 'Does not repeat'}) %>
	</div>
	
	<div id="info_box"></div>
	
	<div id="range">
		<div id="interval_select" class="repeat_border">
			<% @array = Array.new(30) {|i| 1+i} %>
			Repeat every: <%= f.select(:interval, options_for_select(@array, :selected => 1), {}) %> <span id="repeat_every_x"></span>
			<br/><br/>
		</div>
		
		<div id="select_week_days"></div>

		<div id="range_end_repeat">
			Range: <br />
			Starts: <%= text_field_tag(:start_clone, {}, {:disabled => "true", :size => 10}) %>
			<span id="end_repeat_block"> Ends: <%= radio_button_tag :end_repeat_radio, :on_date %> Until<span id="on_date"></span>
			<p id="repeat_end_after"><%= radio_button_tag :end_repeat_radio, :after %> After <span id="after"></span></p>
		</div>
	</div><!-- /range -->
	
</div> <!--/ class details -->

