<div id="repeat_options">
	<h4> Repeat Details: </h4>
		<% unless et.freq.empty? %>
		<h4 class="inline">Freq: </h4><%=h et.freq%>
		<%- end -%>
	<p>	
	<% unless et.repeat.empty? %>
		<h4 class="inline">Repeat: </h4><%=h et.repeat%>,&nbsp
		<%- case et.repeat
					when "daily"  then @every = "days"
					when "weekly" then @every = "weeks"
					when "months" then @every = "months"
				end-%>	
	<%- end -%>
	<%- unless et.interval.nil? -%>
	every <%=h et.interval %> <%= @every %>
	<%- end -%>
				<br/>
	 			<%=h "On" + et.byday.to_s unless et.byday.nil? %>
	</p>
	<p>
	  <h4>End: </h4>
		 		 <%=h "After " + et.count.to_s + " times" unless et.count.nil? %>
	 			 <%=h "On Date: " + et.until.strftime("%a, %b %d") unless et.until.nil? %>
	</p>
	
	<p>
	  <%= content_tag(:h4, "All day: " + et.allday.to_s) %> 
	</p>
</div>

<div id="class_template_notes" class="left">
	<h4>Notes: </h4><%= et.notes %>
</div>

<div class="clear"></div>
