<div class="body">
<h2>MonQi classes templates</h2>

<%- @event_templates.each do |et|%>
	<% div_for(et, :class => cycle('odd', 'even')) do %>
		<div class="id"><%=hidden_field_tag(:template_id, et.id.to_s ) %> </div>
		<div <%= 'class="today"' if et.start_date.strftime("%a, %b %d") == Date.today.strftime("%a, %b %d") %>>
			<div class="calendar_date left">
				<p class="cal_month"><%= et.start_date.strftime("%b") %></p>
				<p class="cal_date"><%= et.start_date.strftime("%d") %></p> 
			</div>
			<%- if et.allday == true %>			
				<%= content_tag(:h4, "All day event", :class => "inline") %> 
			<%- else -%>
			  <%=h et.start_date.strftime("%I:%M%p") + " - " + et.end_date.strftime("%I:%M%p") %>
			<% end -%>
		</div>
		<div style="color: #<%=h et.calendar.color %>; display: inline;"><%#=h et.calendar.name %></div>
		<div> <%= et.level  + ' ' +  '<strong>' + et.monqi_class.title + '</strong>' + ' ' + et.instructor.full_name %> </div>
		
		<div id="repeat_info">
			<% unless et.freq.empty? %>
			<h4 class="inline">Freq: </h4><%=h et.freq%>
			<%- end -%>
		<p>	
		<% unless et.repeat.empty? %>
			<h4 class="inline">Repeat: </h4><%=h et.repeat%>,&nbsp
			<%- case et.repeat
						when "daily"  then @every = "days"
						when "weekly" then @every = "weeks"
						when "months" then @every = "months"
					end-%>	
		<%- end -%>
		
		<%- if et.interval > 1 -%>
			every <%= et.interval + @every %>
		<%- end -%>
				
		 <%= "on " + et.byday.to_s unless et.byday.nil? %>
		 <%= "until " + et.until.strftime("%a, %b %d")  unless et.until.nil? %>
		 <%=h "end after " + et.count.to_s + " times" unless et.count.nil? %>
		</p>
		</div>
		<!-- Action Set Icons-->
		<div class="action_icon"> 
			<%= image_tag('icons/delete_icon.png', :size => "24x24", :class => "delete_button", 
										"data-dialog_title" => "Deleting the #{et.monqi_class.title} template", 
										"data-dialog_action_path" => "#{event_templates_path}/delete_form/#{et.id}") %> delete
				
			<%- unless et.repeat == "none" -%>
				<%= image_tag('refresh.gif', :size => "24x24", :class => "recurring_classes", 
											"data-dialog_title" => "showing all {@et.instructor.full_name + ' ' + @et.monqi_class.title + 'recurring classes'}", 
											"data-dialog_action_path" => "#{event_template_events_path(et)}") %> recurring_classes
			<%- end -%>
		</div>
					
		<div class="clear"></div>
		
	<%- end -%>
<%- end -%>
	<p><%= will_paginate @event_templates %></p><br/>
	<%= button_to 'New Class Template', new_object_url %>
</div>

<div id="modal"></div>

