<%= javascript_include_tag 'event_templates' %>
<div id="body">
<h2>New Class Template</h2>

<%= error_messages_for :event_template %>
<% form_for(:event_template, :url => collection_url) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>

  <p class="clear">
    <%= submit_tag "Create" -%>
		<%= button_to 'Cancel', collection_url %>
  </p>
<% end %>
</div>