<%= javascript_include_tag 'event_templates' %>
<div id="body">
	<h2>New Class Template</h2>
	<%= error_messages_for :event_template %>
	<% form_for(:event_template, :url => collection_url) do |f| %>
  	<%= render :partial => "form", :locals => { :f => f } %>

  <div id="buttons">  
		<%= submit_tag "Create", :class => "left with_right_margin" -%>
		<%= button_to 'Cancel', collection_url %>
	</div>
<% end %>
</div>