<div id="schedule_page">
<% unless @days.nil? or @days.empty? %>
	<% if @days.size > 1 %>
	<ul id="days_selector">
		<li> <a href="#">Mon</a></li>
		<li> <a href="#">Tue</a></li>
		<li> <a href="#">Wed</a></li>
		<li> <a href="#">Thu</a></li>
		<li> <a href="#">Fri</a></li>
		<li> <a href="#">Sat</a></li>
		<li> <a href="#">Sun</a></li>
	</ul>
	<%- end %>
	
	<div class="days">
	<% @days.each do |day| %>
		<% unless day.nil? or day.empty? %>
			<div class="day">				
			<table class="mainFont" border="0" cellspacing="5" cellpadding="5">
			<tr>
				<th>
					<span class="headerText"><%= day.first.start_date.strftime('%a') %></span>
					<span class="smallText"> <%= day.first.start_date.strftime(' %B %d, %Y') %></span>
				</th>
				<th class="smallHeader" align="center">CLASSES</th>
				<th class="smallHeader">INSTRUCTOR</th>
			</tr>
			<%- day.each do |event| %>
				<% content_tag_for(:tr, event, :class => cycle("even", "odd")) do %>
	     		<td width="20%"><%= event.start_date.strftime('%I:%M') %> - <%=h event.end_date.strftime('%I:%M %p') %></td>
			 		<td><%= link_to event.monqi_class.title, '#', :class => 'class_desc' %></td>
			 		<td><%= link_to event.instructor.full_name, '#', :class => 'instructor_info' %></td>
	 			<% end %> <%# end of tr event %>
			<% end %>	<%# end of day %>
    </table>
		</div>
	 	<% end %> <%# end of unless day.nil? %>
	<% end -%> <%# end of days %>
	</div> <!-- /items -->
<%- end -%>
</div> <!-- /main root scrollable-->