<% @day_classes.each do |day, classes| %>
<table class="mainFont table_day" border="0" cellspacing="5" cellpadding="5">
	<tr><th class="headerText"><%= day.strftime('%a') %></th></tr>
<%- classes.each do |event| %>
		<tr><td class="displayTime"><%= event.start_date.strftime('%I:%M') %> - <%=h event.end_date.strftime('%I:%M %p') %></td></tr>
		<tr><td class="displayClass"><%= event.level%></td></tr>
		<tr>
			<td class="displayClass">
				<%= link_to event.monqi_class.title, '#', :class => 'class_desc', :rel => "class_#{event.monqi_class.id}", "data-class_desc" => event.monqi_class.description, "data-class_title" => event.monqi_class.title, "data-event" => event.id %>
			</td>
		</tr>
		<tr><td class="displayInstructor"><%= link_to event.instructor.last_initial, '#', :class => 'instructor_info', :rel => "instructor_#{event.instructor.id}", "data-instructor"  => event.instructor.id, "data-event" => event.id %></td></tr>
<% end %>	<%# end of event %>
</table>
<% end -%> <%# end of days.each %>

