<%= stylesheet_link_tag 'events', :cache => true %>
<%= javascript_include_tag "combobox", "date", "events", "jquery.validate", :cache => true %>

<span style="display:none;"><%= f.hidden_field :calendar_id, :value  => "1" %></span>

<div id="monqi_class_details">
	
	<div id="start_end_set">
		<span>
			<label>First class begins:</label>
			<%= text_field_tag("start_at", Date.today.strftime("%a %m/%d/%Y"), {:size => 12, :id => "start_date"}) %>
		</span>
		<span id="time_pickers">
			<label>from</label> <%= text_field_tag("start_time", "8:00AM", {:size => 6, :class => "timepicker"}) %>
			<label>to</label> <%= text_field_tag("end_time", "8:30AM", {:size => 6, :class => "timepicker"}) %>
		</span>
			<label>All day</label> <%= check_box_tag :allday, :id => "allday" %>
	</div><br />

	<div id="level">
		<label for="event[level]">What's the class level?</label>
		<input type="radio" id="basics_level" name="event[level]" value="Basics"> Basics
		<input type="radio" id="open_level" name="event[level]" value="Open level"> Open level
	</div>
		<br />	<br />
	<div>
		<%= f.label :max_attendees, "Maximum Attendees" %>
		<%= f.text_field :max_attendees, {:size => 2, :maxlength  => 2, :minlength => 1 }%>
	</div>
	
	<div id="class">
		<%= f.label :monqi_class_id, "Monqi Class: " %>
		<%= f.collection_select(:monqi_class_id, @classes, "id", "title", :prompt => "Select a class") %>
	</div>
	
	<div class="schedule">
		<span class="scheduled_day"></span>
		<span class="scheduled_instructor">
			<% @options = options_from_collection_for_select(@instructors, 'id', 'last_initial') %>
		<label for="scheduled_instructor[]"> Instructor: </label>
		<%= select_tag("scheduled_instructor[]", @options, {:class => "instructor", :prompt => "Select an instructor"}) %>
		</span>
		<span class="remove_button"></span>
	</div><!-- /schedule -->

	<br />
	
	<div id="repeat_select" class="repeat_border">
	 	<label>Repeats:</label> <%= select_tag(:freq, "<option selected='selected' value='Does not repeat'>Does not repeat</option>
																		<option value='Daily'>Daily</option>
																		<option value='Weekly'>Weekly</option>
																		<option value='Monthly'>Monthly</option>
																		<option value='Yearly'>Yearly</option>
															") %>
	</div>

	<div id="info_box"></div>
	
	<div id="range">
		<div id="interval_select" class="repeat_border">
			<% @array = Array.new(30) {|i| 1+i} %>
			<label>Repeat every:</label> <%= select_tag(:interval, options_for_select(@array, :selected => 1), {}) %> <span id="repeat_every_x"></span>
			<br/><br/>
		</div>
		
		<div id="select_week_days"></div>

		<div id="range_end_repeat">
			<label>Range:</label> <br />
			<label>Starts:</label> <%= text_field_tag(:start_clone, {}, {:disabled => "true", :size => 12, :class => "no_pointer"}) %>
			
			<span id="end_repeat_block"> 
			<label>Ends:</label> <span>
							<label for="on_date">Until</label>
							<%= radio_button_tag :end_repeat_radio, :on_date %> 
							<span id="on_date"></span>
						
							<label for="after">After</label> 
							<%= radio_button_tag :end_repeat_radio, :after %> 
							<span id="after"></span>
						</span>
			</span>
			
		</div>
	</div><!-- /range -->
	<div id="multi_schedule"></div>
</div> <!--/ class details -->