<% if @events.first.nil?
	flash[:notice] = "There are no classes to display" %>
<%- else -%>

<div class="body">
	<h3> Showing All Recurring Classes For: 
		<p> #<%=h @events.first.event_template_id %> 	
			<%=h @events.first.event_template.monqi_class.title %>
		</p>
		<p>
			Scheduled: <%=h @events.first.start_date.strftime("%a, %b %d") %>
			=> <%=h  @events.last.start_date.strftime("%a, %b %d")  %>
		</p>
	</h3>
<%- end -%>

<%- @events.each do |event|%>
	
	<% div_for(event, :class => cycle('odd', 'even')) do %>
		<P>
			<%- if admin? -%>
			<div class="id"> 
				<%=h "#" + event.id.to_s %> <br/>
				(sequence: <%=h event.sequence %>)
			</div>
			<%- end -%>
			
			<div style="display: inline;" <%= 'class="today"' if event.start_date.strftime("%a, %b %d") == Date.today.strftime("%a, %b %d") %>>
				<%=h event.start_date.strftime("%a, %b %d") %>
			</div>
				<%=h event.start_date.strftime("%I:%M%p") + " - " + event.end_date.strftime("%I:%M%p") %>
				
				<div class="indent">
					With
					<%=h event.instructor.full_name %>
				</div>
				
				<div class="action_icon" <%= "style='display: none;'" if ! admin? %>>			
					<%= image_tag('icons/page_edit.png') %>
					<%=link_to 'edit', edit_object_url(event) %>
			
					
					<%= link_to_function  image_tag('icons/delete_icon.png', :size => "24x24"), 
																"Modalbox.show(\"#{events_path}/delete_form/#{event.id}\", {title: 'Deleting a recurring class'});"
					 %>
					delete
				</div>
				<div class="clear">
					
				</div>
				<div id="attendees_for_<%= event.id.to_s %>" style="display: none;">
					Attendees:<br/>
					<% event.attendees.each do |attendee| %>
					<p>
					id: <%= attendee.id %>
					<%= attendee.full_name %>
					</p>
					<% end %>
				</div>
			</p>
	<%- end -%>
<%- end -%>
<p><%= will_paginate %></p><br/>
</div>