<% if @events.empty?
	flash[:notice] = "There are no classes to display" %>
<%- else -%>

<div class="body">
	<h3> <%#=h @events.first.instructor.full_name + ' ' + %>
		<%#= @events.first.monqi_class.title %> Classes: 
		<p>
			<%#=h @events.first.start_date.strftime("%A, %b #{@events.first.start_date.day.ordinalize}") %>
			- <%#=h  @events.last.start_date.strftime("%A, %b #{@events.last.start_date.day.ordinalize}") %>
		</p>
	</h3>


<%- @events.each do |event|%>
	
	<% div_for(event, :class => cycle('odd', 'even')) do %>
		<P>
			<%- if admin? -%>
			<div class="id right"> 
				<%=h "#" + event.id.to_s %>
				(sequence: <%=h event.sequence %>)
			</div>
			<%- end -%>
			
			<div class="calendar_date left">
				<p class="cal_month"><%= event.start_date.strftime("%b") %></p>
				<p class="cal_date"><%= event.start_date.strftime("%d") %></p> 
			</div>
			
			<div style="display: inline;" <%= 'class="today"' if event.start_date.strftime("%a, %b %d") == Date.today.strftime("%a, %b %d") %>>
			</div>
				<%=h event.start_date.strftime("%I:%M%p") + " - " + event.end_date.strftime("%I:%M%p") %>
				
				<div class="inline">
					<br/>
					<%=h event.monqi_class.title + ' ' + event.instructor.full_name %>
				</div>
				
				<div class="action_icon" <%= "style='display: none;'" if ! admin? %>>			
					<%= image_tag('icons/page_edit.png') %>
					<%= link_to 'edit', edit_object_url(event) %>
			
					<%= image_tag('icons/delete_icon.png', :size => "24x24", :class => "delete_button", 
												"data-dialog_title" => "Deleting the #{event.monqi_class.title} class", 
												"data-dialog_action_path" => "#{events_path}/delete_form/#{event.id}") %> delete
				
				</div>
				<div class="clear">
					
				</div>
				<div id="attendees_for_<%= event.id.to_s %>" style="display: none;">
					Attendees:<br/>
					<% event.attendees.each do |attendee| %>
					<p>
					id: <%= attendee.id %>
					<%= attendee.full_name %>
					</p>
					<% end %>
				</div>
			</p>
	<%- end -%>
<%- end -%>

<p><%= will_paginate %></p><br/>
</div>
<%- end -%>