<div class="page">
	<ul class="navi">
			<% classes.each do |cls| %>
				<li><%= link_to cls.title, "#", :class => "class_link" %></li> 
				<%= classes.last == cls ? "" : "|" %>
			<% end -%>
	</ul>

	
	<a class="prev_horizontal browse left">Previous <<</a> 				
	<div class="scrollable"> <!-- inner scrollable -->
		<div class="items">
			<% classes.each do |cls| %>
				<div class="item">
					<h3><%= cls.title %>
					<% if admin? %>
					<%= link_to image_tag("icons/comment_edit.png") + "edit class info",edit_monqi_class_path(cls) %>
					<% end %>
					</h3>
					<p><%= cls.description %></p>
				</div>
			<% end -%>
		</div> <!-- /items -->
	</div><!-- /scrollable -->
	<a class="next_horizontal browse right">Next >></a>
</div> <!-- /page -->