	<div id="edit_page_box" style="display: none;">
		<div id="upload_box">
			<h2>
				Upload Pictures
				<span class="h2bkg"><%= @page.title.capitalize.humanize %> Page Pictures</span>
			</h2>
			
				<div class="items">
					<%- unless @page.pictures.empty? -%>
					<% @page.pictures.in_groups_of(3).first.each do |pic| %>
							<% unless pic.nil? %>
							<div class="page_pic_thumb item">						
							<%= image_tag(pic.photo.url(:thumb)) %>
							<%= image_tag( "icons/large_error.png",  :size => "24x24", 
						 														"data-pic"  => pic.id,
																				:title => "delete picutre",
																				:class => "delete_icon" ) %>
							</div>
							<% end -%>
						<% end -%>
					<% end -%>
				</div>
				
				<%- unless @page.pictures.empty? -%>
				<p class="note">*showing 3 out of <%= @page.pictures.size %> pictures,
									 <br/> click on table mode to see all
									 <p>
				<% end -%>
				<%= link_to image_tag("icons/table_edit.png") + "pictures in table mode", page_pictures_path(@page) %>
				</p>
				</p>
				
			<div id="upload_pic_form">
				<h2 class="on_white">Upload a new picture:
					<span class="h2bkg">Upload a new picture</span>
				</h2>
				
				<% form_for(@picture, :html => {:multipart => true}) do |f| %>
					<%= render :partial => "pictures/form", :locals => {:f => f}  %>
			  <p><%= f.submit "add_picture" %></p>
				<%- end -%>	
			</div>
		</div>
	
		<div id="page_editor_box">
				<div id="yui_editor">
					<h2>Edit <%= @page.title %> page
					<span class="h2bkg"> Edit the <%= @page.title.capitalize.humanize %> page</span> 
				</h2>
				<%= render :partial => "shared/update_page" %>
			 </div>
			
			<div id="page_attachments">
				<h2><%= @page.title %> Page Attachments
					<span class="h2bkg"> <%= @page.title.capitalize.humanize %> Page Attachments</span> 
				</h2>
				<% form_for(@page, :html => {:multipart => true}) do |f| -%>
					<%= f.file_field :page_attachment, :size => '17' %>
				  <br /><p><%= f.submit "Attach", :disable_with => 'Attaching...' %></p>
				<% end -%>
			</div>		
	</div> <!-- /page editor box -->
		
	</div>
	<%= render :partial => "shared/call_yui_editor" %>
</div>
