	<div id="top_content_page">
		<h2> <%= @page.title %>
		<span class="h2bkg"><%= @page.title %></span>
		</h2>

		<div class="text_block">
			<%= @page.body %>
		</div>
		<div id="address_bar"> 201 East 67th Street, New York, NY - (212) 327-2170</div>
	</div>
	
	<div id="lower_corner_box">
		<div id="gallery">
			<% @page.pictures.each_with_index do |pic, index| %>
					<%= image_tag(pic.photo.url(:box)) %>
			<% end -%>
		</div>
		
	</div>
	
	<div id="edit_page_box" style="display: none;">
		<div id="page_editor_box"><h2>
			Edit <%= @page.title %> page
		<span class="h2bkg"> Edit <%= @page.title %> page</span> </h2>
		<%= render :partial => "shared/update_page" %></div>
		
		<div id="upload_box">
			<h2>
				Upload Pictures
				<span class="h2bkg"><%= @page.title %>'s Pictures</span>
			</h2>
				<a href="#" class="prev">Prev</a>
				<div id="thumbs_scrollable" class="scrollable">
					<div class="items">
						<% @page.pictures.each do |pic| %>
						<div class="page_pic_thumb item">						
						<%= image_tag(pic.photo.url(:thumb)) %>
						<%= image_tag( "icons/large_error.png",  :size => "24x24", 
						 																				"data-pic"  => pic.id,
																										:title => "delete picutre",
																										:class => "delete_icon" ) %>
						</div>
					<% end -%>
					</div>
				</div>
				<a href="#" class="next">Next</a>
				
		<%= link_to "pictures in table mode", page_pictures_path(@page) %>
			<div id="upload_pic_form">
			<h2 class="on_white"> 
				Upload new pictures:
				<span class="h2bkg">Upload new pictures</span>
			</h2>
			<% form_for(@picture, :html => {:multipart => true}) do |f| %>
					<%= render :partial => "pictures/form", :locals => {:f => f}  %>
			  <p><%= f.submit "add_picture" %></p>
			<%- end -%>	
			</div>
			
		</div>
	</div>
</div>

<% unless admin? %>
<%= render :partial => "shared/call_yui_editor" %>
<% end -%>