<div id="pg2" class="page step">
<h3>Personal Training Request</h3>
<strong>First name:<span class="req">*</span></strong><%= text_field_tag(:first_name) %>
<strong>Last name:<span class="req">*</span></strong><%= text_field_tag(:last_name) %>
<p>
		<label class="form male">
			Gender:
	    <input type="radio" id="gender_male" name="gender" value="male" />
	    Male
		</label>
		<label class="form female">
	    <input type="radio" id="gender_female" name="gender" value="female" />
	    Female
		</label>
		<br/>
<strong>Age:</strong> <%= text_field_tag(:age, {}, :size => "2", :maxlength => "2") %>
<strong>Height:</strong> <%= text_field_tag(:feet, {}, :size => "1", :maxlength => "1") %> feet <%= text_field_tag(:inch, {}, :size => "2", :maxlength => "2") %> inch
<strong>Weight</strong> <%= text_field_tag(:weight, {}, :size => "3", :maxlength => "3") %> lbs
</p>

<p>
<strong>Telephone #:</strong><br/>
							 <strong>Home:</strong> <%= text_field_tag(:home_phone, {}, :size => "12",  :class => "phone fillone") %>
							 <strong>Work:</strong> <%= text_field_tag(:work_phone, {}, :size => "12", :class => "phone fillone") %>
							 <strong>Mobile:<span class="req">*</span></strong> <%= text_field_tag(:cell_phone, {}, :size => "12", :class => "phone fillone") %><br/>
  				    <strong> e-mail:<span class="req">*</span></strong> <%= text_field_tag(:email) %>
</p>
<p>
	<strong>Medical conditions, medications, allergies:</strong><span class="req">*</span><br/>
	<%= text_area_tag(:conditions, "list any medical problems or medications.", :rows => 3, :id => "conditions") %>
</p>
</div> <!-- /page -->

<div id="pg3" class="page step">
	<h3>Personal Training Request</h2>
		<strong>Goals or reason for training: </strong><br/> <%= text_area_tag(:goals, {}, :rows => 3) %>
		<p><strong>do you prefer a male or female trainer</strong> (if known, list trainer’s name)<br/>
		<%= text_field_tag(:trainer_preference) %>
		<br/>
		<strong>how many times a week:</strong> <%= text_field_tag(:times_a_week, {}, :size => "2", :maxlength => "2") %> <br/><br/>
	<strong>	preferred days:<span class="req">*</span></strong>
		<%= check_box_tag('preferred_days[]','Mon', :class => "days") -%> Mon
	 	<%= check_box_tag('preferred_days[]','Tue', :class => "days") -%> Tue
	 	<%= check_box_tag('preferred_days[]','Wed', :class => "days") -%> Wed
	 	<%= check_box_tag('preferred_days[]','Thu', :class => "days") -%> Thu
	 	<%= check_box_tag('preferred_days[]','Fri', :class => "days") -%> Fri
	 	<%= check_box_tag('preferred_days[]','Sat', :class => "days") -%> Sat
		<%= check_box_tag('preferred_days[]','Sun', :class => "days") -%> Sun
		
		<br/>	<br/>
		<strong>How long would you like the session:<span class="req">*</span></strong> 	
		<%= check_box_tag('session_duration[]','45 min') -%> 45 Minutes
		<%= check_box_tag('session_duration[]','1 hour') -%> 1 Hour
		</p>
</div><!-- /page -->

<div id="pg4" class="page step submit_step">
	<h3>Personal Training Request</h2>
		
	<strong>	When do you wish to start: </strong><%= text_field_tag(:start_date) %> <br/>
		<p> 
		<strong> First Time Client?	</strong> <%= check_box_tag :first_time %>

		 <strong>Referred by:</strong> <%= text_field_tag :referred_by,{}, :size => 20 %>
		</p>
		
		<strong>By checking this checkbox you agree to our 24-hour cancellation policy*  </strong>
<br/>	<br/>	
<p>
24-hour cancellation policy:  If you must change or cancel a scheduled appointment, please call your trainer directly to cancel at least 24-hours prior to your session or you will be charged for the session.
</p>
<p>
	<%= check_box_tag('agree') -%><strong> Yes I agree<span class="req">*</span></strong>
</p>
</div><!-- /page -->