<div id="error_box">
	<%= link_to image_tag( "icons/large_error.png",  :size => "24x24", 
														:title => "Close",
														:class => "closebox" ) %>
</div>
<%= javascript_include_tag "jquery.history", "jquery.form", "jquery.validate", "jquery.form.wizard-2.0.0-RC3-min", "jquery.metadata" %>
 <% form_tag({:action => "pt_request"}) do %>			
		<div id="pg1" class="page step">
			<%= @page.body %><br/>
		</div><!-- /page -->
		<%= render :partial => "pt_request" %>
		<div id="navigation"> 							
			<input type="reset" value="Back" class="navigation_button" disabled="">
			<input type="submit" value="Next" class="navigation_button">
		</div>
<% end -%>

<style type="text/css" media="screen">
	.page {margin-bottom:80px !important; height: 315px !important;}
	p {margin:0 0 0.5em;}
	textarea {
		height: 71px !important;
		width: 540px !important;
	}
	#navigation{ 
							display:inline;
							float: right;
							margin-top:-72px;
	}
	
	#error_box {
		background-color:#FDFCFA;
		border: 1px solid black;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		left:157px;
		position:absolute;
		top: -75px;
		padding:17px;
		list-style: none;
		}
.closebox { 		
		right:-12px;
		top:-14px;
		}
		
.error {
	border-color: #FDFCFA;
	border:2px solid #DDDDDD;
	margin-bottom: 5px;
	padding:0;
	}

#ui-datepicker-div {
	z-index: 9999 !important;
}
</style>

<%= javascript_include_tag "pt_request" %>
<script type="text/javascript" charset="utf-8">
	if (!$.browser.msie) {
	$('#start_date').datepicker();
	}
</script>