<style type="text/css" media="screen">
	#main_navi li a {
	background:transparent url(/images/rates_icons.png) no-repeat scroll 0 0;
	height:82px;
	width: 92px;
	}
	
	
	.category_scrollable {
		padding-top: 0px;
	}
	
	td { padding: 0px;}
</style>
<!-- main navigator --> 
<ul id="main_navi">
	<li><a id="home_rates">home</a></li>
  <li><a id="personal">Personal Training Rates</a></li> 
  <li><a id="group">Group Classes Rates</a></li> 
  <li><a id="gym">Gym Use Rates</a></li> 
  <li><a id="unlimited">Unlimited Classes & Gym Use Rates</a></li> 
</ul>

<div id="main"> 
	 <div id="pages">
		<div class="page">
			<%= @page.body %>
		</div>
		<%= render :partial => "rates", :locals => {:passed_array => @group} %>
		<%= render :partial => "rates", :locals => {:passed_array => @personal} %>
		<%= render :partial => "rates", :locals => {:passed_array => @gym} %>
		<%= render :partial => "rates", :locals => {:passed_array => @unlimited} %>
	 </div>
</div>

	
