<style type="text/css" media="screen">
	td { padding: 0px;}	
	#main { height: 315px !important;}
	.page {	height: 305px !important;}
</style>
<!-- main navigator --> 
<ul id="main_navi_rates" class="main_navi">
	<li><a id="home_rates">home</a></li>
  <li><a id="group">Group Classes Rates</a></li> 
  <li><a id="gym">Gym Use Rates</a></li> 
  <li><a id="personal">Personal Training Rates</a></li> 
  <li><a id="unlimited">Unlimited Classes & Gym Use Rates</a></li> 
</ul>

<div id="main"> 
	 <div id="pages">
		<div class="page">
			<%= @page.body %>
		</div>
		<%= render :partial => "rates", :locals => {:passed_array => @group} %>
		<%= render :partial => "rates", :locals => {:passed_array => @gym} %>
		<%= render :partial => "rates", :locals => {:passed_array => @personal} %>
		<%= render :partial => "rates", :locals => {:passed_array => @unlimited} %>
	 </div>
</div>

