<style type="text/css" media="screen">
	#main_navi li a {
	background:transparent url(/images/rates_icons.png) no-repeat scroll 0 0;
	height:82px;
	width: 102px;
	}
	
	.category_scrollable {
		padding-top: 0px;
	}
</style>
<!-- main navigator --> 
<ul id="main_navi"> 
  <li><a id="personal"><%= @personal.first.calendar.name %></a></li> 
  <li><a id="group"><%= @group.first.calendar.name %></a></li> 
  <li><a id="gym"><%= @gym.first.package_type.name %></a></li> 
  <li><a id="unlimited"><%= @unlimited.first.package_type.name %></a></li> 
  <li><a id="chiro"><%= @chiropractic.first.calendar.name %></a></li> 
  <li><a id="nutrit"><%= @nutritional.first.calendar.name %></a></li> 
</ul>

<div id="main_categories"> 
	 <div id="categories_pages">
	 	<%= render :partial => "rates", :locals => {:passed_array => @personal} %>
	 	<%= render :partial => "rates", :locals => {:passed_array => @group} %>		
	 	<%= render :partial => "rates", :locals => {:passed_array => @gym} %>		
	 	<%= render :partial => "rates", :locals => {:passed_array => @unlimited} %>		
	 	<%= render :partial => "rates", :locals => {:passed_array => @chiropractic} %>		
	 	<%= render :partial => "rates", :locals => {:passed_array => @nutritional} %>		
	 </div>
</div>

	

