<%= stylesheet_link_tag "rates", :cache => true %>
<ul id="main_navi_rates" class="main_navi">
	<li><a href="#" id="home_rates">Home</a></li>
  <li><a href="#" id="group">Group Classes Rates</a></li> 
  <li><a href="#" id="gym">Gym Use Rates</a></li> 
  <li><a href="#" id="personal">Personal Training Rates</a></li> 
  <li><a href="#" id="unlimited">Unlimited Classes & Gym Use Rates</a></li> 
</ul>

<div id="main"> 
	 <div id="pages">
		<div class="page">
			<%= @page.body %>
		</div>
		<%= render :partial => "rates", :locals => {:passed_array => @group} %>
		<%= render :partial => "rates", :locals => {:passed_array => @gym} %>
		<%= render :partial => "rates", :locals => {:passed_array => @personal} %>
		<%= render :partial => "rates", :locals => {:passed_array => @unlimited} %>
	 </div>
</div>

