<p><%= f.label :street, "Street" %></p>
<p><%= f.text_field :street %></p>
<p><%= f.label :apt, "Apt" %></p>
<p><%= f.text_field :apt %></p>
<p><%= f.label :zip_code_id, "Zip Code" %></p>
<p><%= f.text_field :zip_code_id ,:size => 5, :maxlength => 5 %></p>
