<ul id="nav_bar">
	<% if staff? %>	
		<div id="manage_people">
			<li class="li_first"><%= link_to "People", people_path %></li>
			<% all_roles.each do | role | %>
			<li><%= link_to role.title.capitalize.humanize, role_people_path(role) %></li> 
			<%- end -%>
		</div>
	<% end -%>
<p>
	<div id="navigation">
		<li class="li_first"><%= link_to "Home", home_path %></li> 
		<li><%= link_to "Classes", monqi_classes_path %></li> 
		<% if manager? %>
			<li><%= link_to "Package Maker", package_templates_path %></li> 
			<li><%= link_to "Calendars", manage_calendars_path %></li> 
			<li><%= link_to "Class Scheduler", event_templates_path %></li> 
		<% end %>
		<li><%= link_to "Recurring Classes", events_path %></li>

		<%if member? %>
			<li><%= link_to "Get Packages", person_packages_path(current_user.person) %></li>
			<%- end -%>
	
		<% if staff? %>
			<li><%= link_to "Products", products_path %></li>
		<% end %>
	
		<% if admin? %>
			<li><%= link_to "Stats", stats_path %></li>
		<%- end -%>
		
		<li><%= link_to "Store", store_path %></li> 
	</div>
</p>
</ul>
