Package Type:
<%= f.select(:package_type_id, @pkg_types.collect {|p| [ p.name, p.id ] }, :prompt => 'select a package type') %>
<div id="package_template_form">
	<p>
	 	Description:
	  <%= f.text_field :description %>
	</p>
	<p>
	  Cost:<br/>
	  $ <%= f.text_field(:cost, :size => 4) %>
	</p>
	<p>
	  Number of sessions:
	  <%= f.text_field(:sessions, :size => 2) %>
	</p>
	<br/>
	<p>
	  Expires in: 
	  <%= f.text_field(:expires_in, :size => 2, :maxlength => 2, :value => @settings.default_package_expiration_date) %> Months
	</p>
</div>